<!DOCTYPE html>
<html>
<head>
<style>
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}
</style>
	<title>JOJO REDDIT TOP POSTS</title>
</head>
<body>
	{% for ii in range(length) %}
	<h1 class="solid"> Rank {{ii + 1}}: {{posts[ii].title}} </h1>
	<p class = "dotted"> {{posts[ii].score}} <p>
	{% if posts[ii].url.endswith('png') or posts[ii].url.endswith('jpg') %}
	<img src={{posts[ii].url}}>
	{% else %}
	<p class="mix"> {{posts[ii].url}} <p>
	{% endif %}
	<p class = "inset"> {{posts[ii].body}} </p>
	{% endfor %}

</body>
</html>